/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .about__img {
    margin-right: 50px;
  }
  .about__list {
    margin: 0;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .header {
    margin-bottom: 100px;
  }
  .header__inner {
    display: block;
    padding-top: 40px;
  }

  .header__inner--text {

  }

  .header__title {
    margin-bottom: 24px;
  }

  .header__description {
    margin-bottom: 14px;
  }

  .test__skin {
    margin-bottom: 100px;
  }
  .test__skin--img {
    margin-left: 0;
  }

  .options {
    margin-bottom: 100px;
  }

  .quote {
    margin-bottom: 100px;
  }
  .quote__title {
    margin-bottom: 44px;
  }

  .ability {
    margin-bottom: 100px;
  }
  .ability__list li + li {
    margin-top: 100px;
  }
  .ability__item {
    padding: 0;
  }
  .support__list {
    margin-top: 35px;
  }
  .support__list li + li {
    margin-top: 24px;
  }

  .about {
    margin-bottom: 100px;
  }
  .about__description {
    margin-bottom: 55px;
  }
  .about__content {
    flex-direction: column-reverse;
  }
  .about__list {
    margin: 27px auto;
    display: flex;
    justify-content: space-between;
  }
  .about__list li + li {
    margin-top: 0;
    margin-left: 30px;
  }
  .about__img {
    width: 575px;
    height: 668px;
    margin-right: 0;
    margin: 0 auto;
  }

  .conditions {
    margin-bottom: 100px;
  }
  .conditions__description {
    margin-bottom: 60px;
  }

  .footer__content {
    padding: 40px 0;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .header {
    margin-bottom: 100px;
  }
  .header__inner {
    display: block;
    padding-top: 40px;
  }
  .header__inner--text {

  }
  .header__title {
    margin-bottom: 24px;
  }
  .header__description {
    margin-bottom: 14px;
  }

  .test__skin {
    margin-bottom: 100px;
  }
  .test__skin--img {
    margin-left: 0;
  }

  .options {
    margin-bottom: 100px;
  }

  .quote {
    margin-bottom: 100px;
  }
  .quote__title {
    margin-bottom: 44px;
  }

  .ability {
    margin-bottom: 100px;
  }
  .ability__list li + li {
    margin-top: 100px;
  }
  .ability__item {
    padding: 0;
  }
  .support__list {
    margin-top: 35px;
  }
  .support__list li + li {
    margin-top: 24px;
  }

  .about {
    margin-bottom: 100px;
  }
  .about__description {
    margin-bottom: 55px;
  }
  .about__content {
    flex-direction: column-reverse;
  }
  .about__list {
    margin: 27px auto;
    display: flex;
    justify-content: space-between;
  }
  .about__list li + li {
    margin-top: 0;
    margin-left: 30px;
  }
  .about__img {
    width: 575px;
    height: 668px;
    margin-right: 0;
    margin: 0 auto;
  }

  .conditions {
    margin-bottom: 100px;
  }
  .conditions__description {
    margin-bottom: 60px;
  }

  .footer__content {
    padding: 40px 0;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .header__top {
    position: relative;
  }

  .burger__btn {
    display: block;
  }

  .nav {
    display: block;
    position: absolute;
    top: 0;
    left: -600px;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 0;
    transition: transform .3s linear;
  }

  .request__btn {
    margin-bottom: 50px;
  }

  .nav__list {
    display: block;
    width: 100%;
    margin: 10px auto;
  }

  .nav__list li + li {
    margin-left: 0;
  }

  .nav__item {
    width: 100%;
    margin: 30px auto;
  }

  .hidden {
    display: none;
  }

  .nav.active {
    transform: translatex(600px);
  }

  .burger__btn.active .burger__span {
    background: none;
    transform: translateX(8px);
  }

  .burger__btn.active .burger__span::before {
    transform: rotate(45deg) translateY(12px);
  }

  .burger__btn.active .burger__span::after {
    transform: rotate(-45deg) translateY(-11px);
  }

  .header {
    margin-bottom: 50px;
  }
  .header__inner {
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
  }
  .header__inner--text {

  }
  .header__title {
    margin-bottom: 24px;
  }
  .header__description {
    margin-bottom: 14px;
  }
  .header__inner img {
    width: 400px;
    padding: 0;
    margin: 0;
  }

  .test__skin {
    margin-bottom: 100px;
  }
  .test__skin--content {
    flex-direction: column-reverse;
  }
  .test__skin--img {
    margin-left: 0;
  }

  .options {
    margin-bottom: 50px;
  }
  .options__item {
    flex-direction: column;
  }
  .section__title {
    margin-bottom: 120px;
  }

  .quote {
    margin-bottom: 100px;
  }
  .quote__title {
    margin-bottom: 22px;
  }

  .ability {
    margin-bottom: 100px;
  }
  .ability__list li + li {
    margin-top: 50px;
  }
  .ability__item {
    padding: 0;
    flex-direction: column-reverse;
  }
  .ability__item:nth-child(2) {
    flex-direction: column;
  }
  .support__list {
    margin-top: 35px;
  }
  .support__list li + li {
    margin-top: 24px;
  }
  .ability__item--title {
    margin-bottom: 18px;
  }
  .ability__item--text p + p {
    margin-top: 12px;
  }
  .support__list {
    margin-top: 30px;
  }

  .about {
    margin-bottom: 100px;
  }
  .about__title {
    margin-bottom: 10px;
  }
  .about__description {
    margin-bottom: 30px;
  }
  .about__content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about__list {
    margin: 27px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .about__list li + li {
    margin-top: 35px;
    margin-left: 0;
  }
  .about__img {
    margin-right: 0;
    width: 400px;
    height: 468px;
  }

  .conditions {
    margin-bottom: 50px;
  }
  .conditions__subtitle {
    margin-bottom: 15px;
  }
  .conditions__description {
    margin-bottom: 30px;
  }
  .types__list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .footer__content {
    padding: 40px 0;
  }
  .copyright__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .copyright__list li + li {
    margin-left: 0;
    margin-top: 20px;
  }
  .copyright__link {
    text-align: center;
  }
}

/* Iphone 5 */
@media (max-width: 320px) {
  .header__form {

  }
  .email__input {
    margin-bottom: 12px;
  }
  .form__btn {
    width: 100%;
    padding: 18px 30px;
    margin: 0;
    position: static;
  }
  .header__inner {
    padding-top: 10px;
  }
  .header__inner img {
    width: 280px;
    padding: 0;
    margin: 0;
  }

  .options__img {
    width: 280px;
  }


  .quote__title {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 11px;
  }
  .author {
    flex-direction: column;
  }

  .about__img {
    width: 280px;
    height: auto;
  }

  .types__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .type__item:nth-child(10) {
    grid-column: span 1;
  }

}
